@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(1.08);
  }

  to {
    opacity: 1;
    transform: scale(1.05);
  }
}

.animate-fadeIn {
  animation: fadeIn 1.4s ease forwards;
}

/* TYPING EFFECT */

.typing-text {
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid black;

  width: 0;

  animation:
    typing 4s steps(10) infinite,
    blink 0.8s infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }

  40% {
    width: 11ch;
  }

  60% {
    width: 11ch;
  }

  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}